// put div in the middle
%middle-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

%inputs {
    border-radius: 5px;
    width: 90%;
    border: 2px solid $input-border;
    color: $dark-gray;
    padding-left: 10px;
    padding-right: 10px;
}

%mail-msg {
    padding: 7px;
    display: block;
    border-radius: 5px;
    color: white;
    text-align: center;
}

// section title
h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

h2:after {
    content: "";
    display: block;
    height: 2px;
    background: $green;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

#scoll-info,
#scoll-team,
#scoll-offer,
#scoll-gallery,
#scoll-call,
#scoll-contct {
    position: absolute;
    top: -50px;
}
