
/* Big tablets to 1200px (widths smaller than the 1140px row)  */
@media only screen and (max-width: 1200px) {
    #offer .row, .con-left, footer .row { padding-left: 20px; }
    %mail-msg { margin: 0 20px;}
}

/* Small tablets to big tablet: from 768px - 1023px  */
@media only screen and (max-width: 1023px) {
    // header and base
    html,body { font-size: 14px; }
    .main-nav { margin-top: 3px; } 
    nav .logo { top: 1px; }
    nav span {    
        position: relative;
        bottom: 4px;
    }
    #btn-mobile-menu { 
        display: inline-block!important; 
        padding: 4px 4px 4px 14px; 
        margin: 0;
    }
    // mobile navigation
    ul.main-nav { 
        display: none;
        z-index: 6;
        position: absolute;
        right: 6px;
        top: 73px;
        background-color: #f5f5f5;
        border: 3px solid #89c939;
        li {
            float: none!important;
            margin: 0!important;
            font-weight: 700;
            text-align: center;
            &:hover {
                padding-bottom: 0px!important;
                border-bottom: none!important;
            }
            &:nth-child(2) { background-color: #f9f9f9!important; }
            &:nth-child(4) { background-color: #f9f9f9!important; }
            &:nth-child(6) { background-color: #f9f9f9!important; }
            a {
                display: block;
                padding: 19px 80px 20px 80px;
                color: $dark-gray!important;
                text-decoration: none;
            }
        }
        #active {
            padding-bottom: 14px;
            border-bottom: none;
        }
        &:after, &:before {
            bottom: 100%;
            left: 98%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }    
        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $green;
            border-width: 12px;
            margin-left: -30px;
        }
    }
    nav { padding: 12px; }
    .hero-text-box h1 { font-size: 402%; }
    .hero-text-box  { white-space: normal; }
    nav ul.main-nav li a {
        display: block;
        padding: 19px 80px 20px 80px;
    }
    .header-bltPoints ul li {
        width: 9px;
        height: 9px;
    }
    .hero-text-box h1 { font-size: 426%; }
    section { padding: 65px 0; }
    // info
    #info .info-box { width: 24%; }
    #info .info-box { margin-top: 46px; }
    // team
    #team .team-box { margin-top: 52px; }
    // offer
    #offer .offer-container { margin-top: 55px; }
    // gallery
    .img-gallery li { height: 135px; }
    #image-container {
        max-height: 500px;
        width: 100%;
        overflow: hidden;
        padding: 0 10px;
    }
    #big-image { height: auto!important; }
    #close-image { right: 22px!important; color: $white; }
    #right { 
        right: 10px!important;
        width: 100px!important;
        background: linear-gradient(to right, $trans , rgba(0, 0, 0, 0.7));
        #right-arrow {
            opacity: 0.7;
        }
        &:hover {
            #right-arrow {
                opacity: 1;
            }
        } 
    }
    #left { 
        left: 10px!important; 
        width: 100px!important;
        background: linear-gradient(to left, $trans , rgba(0, 0, 0, 0.7));
        #left-arrow {
            opacity: 0.7;
        }
        &:hover {
            #left-arrow {
                opacity: 1;
            }
        } 
    }
    #call h2 { margin-top: 15px; }
    .note-right { width: 87%!important;}
    .note-left { width: 12%!important;}
    .circle, .line {display: none;}
    .aktuelles {
        padding: 139px 9px;
    }
}

/* Small phones to small tablets: from 480px - 767px  */
@media only screen and (max-width: 767px) {
    //info
    #info .info-box { 
        margin-top: 30px; 
        width: 100%;
        margin-left: 55px;
        width: 85%;
    }
    #info .info-box .img-icon {
        left: -44px;
        width: 25px;
    }
    //offer
    #offer .offer-container .offer-img img { width: 97%;}
    #offer .offer-container .offer-img { width: 100%; float: none; }
    #offer .offer-container .offer-list {
        width: 100%;
        float: none;
        margin-top: 27px;
        left: 30px!important;
    }
    //gallery
    #gallery ul li { height: 105px; }
    #image-container {
        height: auto!important;
        overflow: visible!important;
    }
    #right, #left { width: 80px !important; }
    #image-info {
        padding-left: 10px;
        font-size: 85%;
    }
    #image-number {
        padding-right: 10px;
        font-size: 85%;
    }
    .map-left-info { width: 100%!important; margin-bottom: 50px;}
    .map-right-info { width: 100%!important; }
    .note-right { width: 80%!important;}
    .note-left { width: 16%!important;}
    .download-cv {display: none!important;}
    .person-info {display: none!important;}
}


/* Small phones: from 0 - 480px  */
@media only screen and (max-width: 480px) {
    .hero-text-box { white-space: normal; }
    nav .logo { top: 3px; }
    nav span { bottom: 2px; }
    .hero-text-box ul { width: 187px; margin-top: 41px; }
    .hero-text-box ul li #offer-btn { margin-right: 0; }
    .hero-text-box ul li { margin-top: 7px;  display: block; }
    .hero-text-box h1 { font-size: 298%; }
    #info .info-box { width: 78%; }
    #team .row { padding: 10px; }
    .team-box {
        padding: 0 15%;
        width: 100%!important;
        margin-top: 40px;
    }
    #gallery ul li {
        width: 90%;
        margin-left: 5%;
        height: 110px;
        margin-bottom: 17px;
        margin-top: 0!important;
    }
    #right #right-arrow { left: 63%!important; width: 20px; }
    #left #left-arrow { left: 32% !important; width: 20px; }
    #contct .msg-container .msg-left {
        float: none; 
        width: 100%;
    }
    #contct .msg-container .msg-right {
        float: none;
        width: 100%;
    }
    footer .footer-box {
        width: 100%;
        float: none;
        padding-right: 10px;
    }
    .note-right { width: 100%!important;}
    .note-left { width: 100%!important;}
    .akt-date {
        top: 54px!important;
        right: 0!important;
        left: 0!important;
    }
    .aktuelles-back .aktuelles .note-right .actuelles-image {
        max-height: none;
        width: 100%;
    }
    .addMsg {
        width: 100%;
    }
    .download-cv {display: none;}
}
