// Main font: Lato
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

// Colors

$green: #80bd34;             
$red: #fa4641;            
$dark-gray: #333333;  
$middle-gray: #636363;
$light-gray: #f2f2f2;
$white: #ffffff;   
$trans: transparent;
$input-border: #c3c3c3;


// Fonts
$main-font: Lato, sans-serif;

