#call {
    position: relative;
    background: $dark-gray;
    padding: 49px 0;
    h2 {
        color: $white;
        &:after {
            content: "";
            height: 0;
        }
    }
    a {
        color: $white;
    }
}