footer {
    background: $dark-gray;
    color: $white;
    padding: 25px 0;
    .futter-btn {
        @include btn($green, $green);
    }
    .footer-info {
        display: none;
        a {
            color: $red;
        }
    }
    @include clearfix;
}