
.background1 {
    @include backgroundImage('../css/img/header-bc1.jpg', rgba(255,255,255,0.3), rgba(255,255,255,0.3),582px);
    position: relative;
}
.background2 {
    @include backgroundImage('../css/img/header-bc2.jpg', rgba(255,255,255,0.3), rgba(255,255,255,0.3),582px);
    position: relative;
}
.background3 {
    @include backgroundImage('../css/img/header-bc3.jpg', rgba(255,255,255,0.3), rgba(255,255,255,0.3),582px);
    position: relative;
}

.hero-text-box {
    @extend %middle-box;
    white-space: nowrap;
    
    h1 {
        font-size: 451%;
        text-align: center;
        color: $dark-gray;
        word-spacing: 8px;
        letter-spacing: 1px;
        hr {
            border: 0;
            background-image: -webkit-linear-gradient(left, rgba(240, 240, 240, 0), $green, rgba(240, 240, 240, 0));
            background-image: -moz-linear-gradient(left, rgba(240, 240, 240, 0), $green, rgba(240, 240, 240, 0));
            background-image: -ms-linear-gradient(left, rgba(240, 240, 240, 0), $green, rgba(240, 240, 240, 0));
            background-image: -o-linear-gradient(left, rgba(240, 240, 240, 0), $green, rgba(240, 240, 240, 0));
            height: 4px;
            margin: 11px 0;
        }
    }
    ul {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 357px;
        
        li {
            display: inline-block;
            
            #offer-btn {
                @include btn($trans, $dark-gray);
                margin-right: 10px;
                color: $dark-gray;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background: rgb(136, 203, 53);
                    border: 2px solid rgba(255,255,255,0.3);
                    color: $white;
                }
            }
            #more-info {
                @include btn($red, $red);
                transition: all 0.3s ease-in-out;
                &:hover {
                    @include hoverBtn($red, $red, 5%, $white);
                }
            }
        }
    }
}

.header-bltPoints ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-48%);

    li {
        opacity: 0.5;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $dark-gray;
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
        border: 1px solid $dark-gray;
    }
}


