#testimonial {
    @include backgroundImage('../css/img/testimonial-back.jpg', rgba(0,0,0,0.7), rgba(0,0,0,0.7),400px);
    
    .tes {
        padding: 0 10%;
        img {
            width: 90px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            margin-bottom: 40px;
            border: 2px solid $white;
        }
        blockquote {
            color: $white;
            position: relative;
            border: 0;
            text-align: center;
            padding: 0 50px;
            .quote {
                &:before {
                    line-height: none!important;
                    content: '\201C';
                    font-size: 500%;
                    position: absolute;
                    left: 13px;
                    top: -22px;
                }
                &:after {
                    line-height: none!important;
                    content:"\201D";
                    font-size: 500%;
                    position: absolute;
                    right: 17px;
                    top: 9px;
                }
            }
            .tes-name {
                margin-top: 40px;
                font-size: 105%;
                display: block;
                font-style: normal;
            }
            .tes-company {
                font-size: 90%;
            } 
        }
    }
}

